
/*кнопка модалки - расположение*/
.modalLeads {
    position: fixed;
    bottom: 40px;
    right: 3px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    z-index:100000;
    border-radius: 50%;
    height: 60px;
    min-width: 56px;
}

/*Модалку расширяем */
#myLeadsModal .modal-dialog{
    width: 100%;
}
 /*Цвет фона модалки и центровка модалки*/
.leadsBg {
    background-color: #1e1e1e;
    width: 70%;
    margin: 5% auto;
}
/*Кнопка закрытия модалки (крестик)*/
.leadsBg .close {
    color: #fff;
    opacity: 0.5;
}
.leadsBg .close:hover {
    opacity: 1;
}

/*цвет шрифта на всю модалку*/
.leadsBg .modal-header, .leadsBg .modal-body table, .leadsBg .modal-footer {
    color: #fff;
    opacity:0.7;
}

.leadsBg .modal-footer {
    border: none;
}

/*текст заголовков таблицы делаем более серым*/
.leadsBg .modal-body table thead {
    opacity: 0.6;
}

/*скрытый вывод Id текущего пользователя*/
#hiddId, #prevAssigner, #hidAssign, #hidNewAssign {
    visibility: hidden;
}


/*разметка страницы модуля*/
.moduleLogo {
    margin: 20px 0 10px;
    padding-left: 20px;
}
.mtb, .mtb input, .mtb select {
    margin: 5px 0;
}

.pt {
    padding-top: 20px;
}
#modalLead .table thead tr th:nth-child(2), #modalLead .table thead tr td:nth-child(2){
    min-width: 145px;
}